/*
 * script-tray
 * By:  Matthew Evans
 * See LICENSE.md
 */

:root
  font-family Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  font-size medium
  line-height 1.5
  font-weight 400

  color rgba(255, 255, 255, 0.87)
  background-color rgb(36, 36, 36)

  font-synthesis none
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  padding 0
  margin 0

input
  cursor pointer
  font-size 1em
  color inherit
  background-color inherit
input:focus
  outline none

select
  color inherit
  background-color inherit
  cursor pointer
  border none
  font-family inherit
  margin-left 4px
  margin-right 6px
select:focus
  outline none
option
  color rgb(0, 0, 0)

button
  border-radius 16px
  border 1px solid transparent
  padding 0.4em 1.0em
  font-size 0.8em
  font-weight 500
  font-family inherit
  color rgba(255, 255, 255, 0.87)
  background-color rgb(26, 26, 26)
  cursor pointer
  transition border-color 0.25s
  box-shadow 1px 2px rgb(153, 153, 153)
button:hover
  border-color rgb(100, 108, 255)
button:active
  box-shadow 0px 0px
  transform translateX(1px) translateY(2px)
button:focus
  outline none
