/*
 * script_tray
 * By:  Matthew Evans
 * See LICENSE.md
 */

app_font = Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
app_font_size = medium
app_line_height = 1.5
app_font_weight = 400

app_bg_color = rgb(36, 36, 36)
app_fg_color = rgba(255, 255, 255, 0.87)

button_fg_color = app_fg_color
button_bg_color = rgb(26, 26, 26)
button_hv_color = rgb(100, 108, 255)

:root
  font-family app_font
  font-size app_font_size
  line-height app_line_height
  font-weight app_font_weight

  color app_fg_color
  background-color app_bg_color

  font-synthesis none
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  padding 0
  margin 0
  width 100vw
  height 100vh

input
  cursor pointer

button
  border-radius 16px
  border 1px solid transparent
  padding 0.4em 1.0em
  font-size 0.8em
  font-weight (app_font_weight + 100)
  font-family inherit
  color button_fg_color
  background-color button_bg_color
  cursor pointer
  transition border-color 0.25s
  box-shadow 1px 2px rgb(153, 153, 153)
button:hover
  border-color button_hv_color
button:active
  box-shadow 0px 0px
  transform translateX(1px) translateY(2px)
