/*
 * script_tray
 * By:  Matthew Evans
 * See LICENSE.md
 */

app_font = Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
app_font_size = medium

app_bg_color = rgb(36, 36, 36)
app_fg_color = rgba(255, 255, 255, 0.87)

url_color = rgb(100, 108, 255)
url_hover_color = rgb(83, 91, 242)
url_visit_color = rgb(100, 108, 255)

button_fg_color = app_fg_color
button_bg_color = rgb(26, 26, 26)
button_hv_color = rgb(100, 108, 255)
